<header class="header-user-dropdown">

	<div class="header-limiter">
		<h1><a routerLink="/">Company<span>logo</span></a></h1>

		<nav>
			<a routerLink="/messages" routerLinkActive="active">Messages</a>
			<a routerLink="/spotify" routerLinkActive="active">Spotify</a>
			<a href="#">Tab</a>
			<a href="#">Roles <span class="header-new-feature">new</span></a>

		</nav>

		
		<div class="header-user-menu" >

			<i class="fa fa-user" id="userGreeting"></i>

			<ul>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Payments</a></li>
				<li><a href="#" class="highlight">Logout</a></li>
			</ul>
		</div>

<!-- 		<div class="header-no-menu" ng-show="!header.loggedIn">
			

			<a ng-href="/#/register"><button class="btn btn-primary">Sign up</button></a>
			<a ng-href="/#/login"><button class="btn btn-primary">Login</button></a>

		</div> -->

	</div>
</header>